@media (max-width: 768px) {
  .filter-sort-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .filter-sort-container-mob {
    display: none;
  }
}

.filter-sort-container {
  border-bottom: 1.3px solid #e5e5e5;
}

.filter-sort-container-mob {
  background-color: white;
  width: 33%;
  position: fixed;
  z-index: 10;
  padding: 20px;
}

.filter-sort-container-mob .sort-container {
  margin-top: 20px;
  width: 160px;
}

.filter-sort-container-mob .filter-container {
  width: 160px;
}

.filter-sort-container-mob .filter-container .filter {
  margin-top: 10px;
}
