@media (min-width: 1400px) {
  .col-xl-3 {
    width: 20% !important;
  }
}

.circle {
  border-radius: 50%;
  border: solid 1.3px #c4c4c4;
  height: 30px;
  width: 30px;
  font-weight: 500;
}

.circle:hover {
  border: solid 1.3px;
}

.cursor-pointer {
  cursor: pointer;
}

.size-container {
  font-size: 12px;
}
