.filter {
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  cursor: pointer;
}

.filter:hover {
  border: 1px solid;
}

.cart {
  cursor: pointer;
}

.btn-outline-secondary {
  border-radius: 30px !important;
}

.dropdown {
  font-size: 13px !important;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
  padding: 8px;
}

@media (max-width: 768px) {
  .filter-container {
    display: block;
  }
}

@media (min-width: 768px) {
  .filter-container {
    display: flex;
  }
}

@media (min-width: 768px) {
  .filter-sort-container {
    flex-direction: row;
    display: flex !important;
  }
  .menu {
    display: none;
  }
}

@media (min-width: 992px) {
  #All {
    display: none;
  }
}

@media (max-width: 992px) {
  #All-Products {
    display: none;
  }
}
